<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @partner.name %>
</p>

<p>
  <b>URL:</b>
  <%= @partner.url %>
</p>

<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Logout', root_path %>
